In [1]:
import pandas as pd

In [39]:
df = pd.read_excel("data.xlsx")

In [40]:
df_copy = df.copy()

In [118]:
df = df_copy.copy()
df.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1,1,USD,No,Thumbnail,...,2195,Monthly,542,507 509 Esplanade,Redondo Beach,CA,33.8520,-118.3759,RentLingo,1.577360e+09
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3,USD,No,Thumbnail,...,1250,Monthly,1500,146 Lochview Dr,Newport News,VA,37.0867,-76.4941,RentLingo,1.577360e+09
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2,3,USD,No,Thumbnail,...,1395,Monthly,1650,3101 Morningside Dr,Raleigh,NC,35.8230,-78.6438,RentLingo,1.577360e+09
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1,2,USD,No,Thumbnail,...,1600,Monthly,820,209 Aegean Way,Vacaville,CA,38.3622,-121.9712,RentLingo,1.577360e+09
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1,1,USD,No,Thumbnail,...,975,Monthly,624,4805 Marquette NE,Albuquerque,NM,35.1038,-106.6110,RentLingo,1.577360e+09

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99826 entries, 0 to 99825
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99826 non-null  object
 1   category       99826 non-null  object
 2   title          99826 non-null  object
 3   body           99812 non-null  object
 4   amenities      83749 non-null  object
 5   bathrooms      99760 non-null  object
 6   bedrooms       99699 non-null  object
 7   currency       99822 non-null  object
 8   fee            99823 non-null  object
 9   has_photo      99823 non-null  object
 10  pets_allowed   39192 non-null  object
 11  price          99821 non-null  float64
 12  price_display  99820 non-null  object
 13  price_type     99823 non-null  object
 14  square_feet    99823 non-null  object
 15  address        7946 non-null   object
 16  cityname       99521 non-null  object
 17  state          99521 non-null  object
 18  latitude       99797 non-null  float64
 19  longitude      99795 non-null  float64
 20  source         99820 non-null  object
 21  time           99820 non-null  float64
dtypes: float64(4), object(18)
memory usage: 16.8+ MB

In [120]:
df = df.drop(columns=["id","category","title","body","time","address","currency","price_display","price_type"])

In [121]:
df['amenities'] =  df['amenities'].fillna("No amenities")
test = set()
for value in df['amenities'].unique():
    temp = value.split(",")
    for var in temp:
        test.add(var)

for column in test:
    df[column] = df['amenities'].apply(lambda x: 1 if column in x else 0)

In [122]:
df['pets_allowed'] = df['pets_allowed'].fillna("No")
df['pets_allowed'].isna().sum()

0

In [123]:
df = df.dropna()

In [124]:
for column in test:
    df[column] = df['amenities'].apply(lambda x: 1 if column in x else 0)

In [129]:
df = df[df['bathrooms']!="Thumbnail"]
df = df[df['bedrooms']!="Thumbnail"]
df = df[df['fee'].isin(["Yes", "No"])]
df['has_photo'] = df['has_photo'].replace({"Thumbnail":"No"})
df['pets_allowed'] = df['pets_allowed'].apply(lambda x: 1 if "Cats" in x or "Dogs" in x else 0)

price_type
Monthly    99332
Weekly         3
Name: count, dtype: int64